@font-face {
  font-family: ud-kyokasho;
  src: url(../font/UDDigiKyokashoN-R.ttc);
}

@font-face {
  font-family: nishiki-teki;
  src: url(../font/nishiki-teki.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100%;
  max-width: 1440px;
  background-color: white;
  margin: 0 auto;
}

.btn-padding{
  padding-top: 20px;
}

.btn{
  text-align: center;
  background-color: #fff091;
  border-color: white;
  border-radius: 20px;
  width: 453px;
  height: 73px;
  font-family: ud-kyokasho;
  font-size: 36px;
  font-weight: bold;
  transition: 0.3s;
  padding-left: 35px;
}

.btn span{
  transition: 0.5s;
  display: inline-block;
  text-align: center;
}

.btn span:after{
  content: '\00bb';
  opacity: 0;
  right: -20px;
  transition: 0.3s;
  top: 0;

}

.btn:hover span{
  padding-right: 25px;
}

.btn:hover span:after{
  opacity: 1;
  right: 0;
}

.btn:hover{
  background-color: #f5e05a;
  color: rgb(46, 46, 46);
  cursor: pointer;
}

#top{
  background: #fff;
  width: 100%;
  z-index: 5;
}

#top-pic{
  position: relative;
}

#lead-text-bg{
  text-align: left;
  position: absolute;
  padding-top: 800px;
  z-index: 4;
  font-family: nishiki-teki;
  line-height: 50px;
  color: #0d4f67;
  font-size: 35px;
  z-index: 2;
}

#lead-text{
  text-align: left;
  position: absolute;
  padding-top: 870px;
  padding-left: 50px;
  z-index: 4;
  font-family: nishiki-teki;
  line-height: 50px;
  color: #0d4f67;
  font-size: 35px;
}

#lead-text::before{
  background: url(../IMG/lead-text-bg.png);
  position: relative;
  z-index: 10;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
}


#main-title{
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

#main-title, #top-img{
  text-align: center;
}

#section-2{
  background: url(../IMG/bg-img/2-bg.jpg);
  padding-bottom: 30px;
  position: relative;
}

#title-2{
  padding-bottom: 10px;
}

#section-2 #title-2 img, #section-3 #title-3 img, #section-4 #title-4 img{
  display: block;  
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#section-2 p{
  font-family: ud-kyokasho;
  font-weight: 600;
  padding-top: 10px;
}
.swiper-bg{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  width: 100%;
}

#section-2 .plan{
  padding-top: 40px;
}
.plan{
  padding-top: 15px;
  text-align: center;
  font-size: 32px;
  color: #3b3f78;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  font-family: ud-kyokasho;
  font-weight: bolder;
}

#section-3{
  background: url(../IMG/bg-img/3-bg.jpg);
  padding-bottom: 30px;
}

#section-3 p{
  padding-top: 40px;
}

#collage-3{
  text-align: center;
  position: relative;
  padding-right: 45px;
  padding-top: 20px;
  z-index: 1;
}

#collage-3::before{
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 65%;
  left: 0;
  top: 240px;
  z-index: 1;
}

#collage-3 img{
  position: relative;
  z-index: 2;
  width: 60%;
}

.desc, .plan{
  position: relative;
  z-index: 3;
}

#section-4{
  background: url(../IMG/bg-img/4-bg.jpg);
  min-height: 1750px;
}

#section-4 #title-4 img{
  padding-bottom: 30px;
}

.desc{
  text-align: center;
  padding-top: 20px;
  font-family: ud-kyokasho;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
#plan-1{
  text-align: left;
  padding-left: 140px;
  padding-top: 50px;
}
.plan-1{
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 90%;
  border-radius: 20px;
  min-height: 287px;
  background-repeat: no-repeat;
}

.plan-1 button{
  float: left;
}

#btn-padding-plan-1{
  padding-top: 20px;
  padding-left: 150px;
}

#btn-padding-plan-2{
  padding-top: 20px;
  padding-right: 150px;
}

#plan-2{
  text-align: right;
  padding-right: 130px;
  padding-top: 50px;
}

.plan-2 button{
  float: right;
}

.plan-2{
  background: rgba(255, 255, 255, 0.6);
  width: 90%;
  border-radius: 20px;
  min-height: 287px;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 170px;
}

#section-5{
  background: url(../IMG/bg-img/5-bg.jpg);
  min-height: 1484px;
}

#section-5 .swiper{
  margin-top: 20px;
}

#section-5 #title-5 img{
  display: block;  
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

#swiper-5{
  z-index: 3;
  position: relative;
}

#swiper-5::before{
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 600px;
  left: 0px;
  right: 0px;
  top: 100px;
  bottom: 0;
  z-index: 1;
}

#section-5 .swiper-wrapper img{
  filter: drop-shadow(10px 10px 7px #8b8b8f);
  top: -40px;
  position: relative;
  max-height: 700px;
  z-index: 2;
  padding-top: 30px;
}

#desc-5{
  padding-top: 10px;
}

#desc-p-2{
  text-align: center;
  font-family: ud-kyokasho;
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
}
.rec{
  display: flex;
}

#star{
  position: relative;
  z-index: 1;
}

#star::before{
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 1);
  max-width: 1035px;
  height: 276px;
  left: 200px;
  right: 200px;
  top: 60px;
  z-index: -1;
  border-radius: 15px;
  filter: drop-shadow(10px 10px 5px #b4b4b4);

}

#star img{
  position: relative;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  z-index: 3;
  max-width: 335px;
}

#star-desc{
  position: relative;
  font-family: ud-kyokasho;
  text-align: center;
  font-size: 26px;
  z-index: 3;
}

h2{
  font-family: ud-kyokasho;
  padding-top: 50px;
  padding-left: -600px;
}

#rating-desc{
  color: rgb(28, 62, 114);
}

#note-5{
  text-align: center;
  padding-top: 80px;
  font-family: ud-kyokasho;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  z-index: 3;
}

#section-6{
  background: url(../IMG/bg-img/6-bg.jpg);
  min-height: 406px;
}

#coupon{
  padding-top: 70px;
}

#coupon button{
  display: block;  
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 116px;
  font-size: 40px;
}

#jal-button{
  padding-top: 50px;
  padding-left: 200px;
}

#jal-button button{
  float: left;
  max-width: 500px;
  height: 92px;
  font-size: 32px;
}

#ana-button{
  padding-right: 200px;
}

#ana-button button{
  float: right;
  width: 500px;
  height: 92px;
  font-size: 32px;
}

.swiper {
  width: 80%;
  max-height: 800px;
}

div.swiper-button-next, div.swiper-button-prev {
  top: 50%
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  --swiper-pagination-color: rgba(46, 150, 176, 1);
  --swiper-pagination-top: 60px;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  --swiper-pagination-bullet-size:12px;
}

.swiper-button-next, .swiper-button-prev {
  outline: none;
  --swiper-navigation-color: rgba(46, 150, 176, 1);
  --swiper-navigation-size: 70px;
}

/* .swiper-button-next:after, .swiper-button-prev:after {
  --swiper-navigation-sides-offset: -100px;
} */

  .swiper{    
    overflow: overlay;
  }

@media only screen and (max-width: 1440px){
  
}